$bodyColor: black;
.Body{
    color: $bodyColor;
    background-color: #ededed;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // overflow-x: scroll;
}